{"http_interactions":[{"request":{"method":"delete","uri":"https://api.sageone.com/accounts/v1/purchase_invoices/1050","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["f54903481c0ca199c3e0008076502ef7"], "X-Signature":["BIMhvjETQmK7g4iOmzIS9+OQeUk="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"c97ac0120502535d8624ec10156fc625\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"purchase_invoice\":{\"artefact_number\":null,\"artefact_number_prefix\":null,\"business_id\":130,\"carriage\":\"0.0\",\"carriage_tax_code_id\":null,\"carriage_tax_rate_percentage\":\"0.0\",\"contact_id\":582,\"contact_name\":\"Bar\",\"created_at\":\"2014-12-31T14:55:47+00:00\",\"date\":\"2014-12-31\",\"delivery_address\":null,\"delivery_address_same_as_main\":false,\"due_date\":\"2015-01-15\",\"email_to\":null,\"id\":1050,\"is_opening_balance\":false,\"lock_version\":1,\"main_address\":null,\"notes\":null,\"outstanding_amount\":\"0.0\",\"pdf_file_id\":null,\"reference\":\"Foo\",\"status_id\":4,\"tax_scheme_period_id\":117,\"terms_and_conditions\":null,\"total_net_amount\":\"59.95\",\"total_tax_amount\":\"0.0\",\"updated_at\":\"2014-12-31T14:55:47+00:00\",\"void_reason\":\"no void reason supplied\",\"$key\":1050},\"$key\":1050}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 14:55:47 GMT"}],"recorded_with":"VCR 2.9.3"}