{"http_interactions":[{"request":{"method":"post","uri":"https://api.sageone.com/accounts/v1/incomes","body":{"encoding":"UTF-8","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["c1f95b155786500124cb4f10d5466944"], "X-Signature":["QhEcujIA+fddW8lWYfqi4/ePRm4="]}},"response":{"status":{"code":422,"message":"Unprocessable Entity"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Status":["422"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$diagnoses\":[{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"blank\",\"$source\":\"source\"},{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"must be a valid type of income\",\"$source\":\"source\"},{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"blank\",\"$source\":\"destination\"},{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"should not be the same as source\",\"$source\":\"destination\"},{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"must be a bank ledger\",\"$source\":\"destination\"},{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"invalid date\",\"$source\":\"date\"},{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"blank\",\"$source\":\"amount\"},{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"not a number\",\"$source\":\"amount\"},{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"blank\",\"$source\":\"payment_method\"}]}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 11:45:30 GMT"}],"recorded_with":"VCR 2.9.3"}