{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/services/4","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["b0b50af69d8d0cd92c93af95c1883f58"], "X-Signature":["wD3ffwLVyjHmptOTg0SihCdc26c="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"90770455f279a4b18f9218c532c17610\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":4,\"description\":\"Foo\",\"extra_info\":\"\",\"period_rate_price\":\"0.0\",\"rate_includes_tax\":0,\"period_type\":{\"id\":1,\"$key\":1},\"ledger_account\":{\"id\":494,\"$key\":494},\"tax_code\":{\"id\":1,\"$key\":1},\"lock_version\":0,\"$key\":4}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:35:26 GMT"}],"recorded_with":"VCR 2.9.3"}