{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/contacts/51","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["fac6f401bcca87b12053f3e8b06f25a9"], "X-Signature":["qg5UbAVJwTqInLfT2i8yX5mVvNs="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"65a15856346f2aac8cba037674892537\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":51,\"company_name\":\"CUST0-GB\",\"name\":\"Main Contact\",\"name_and_company_name\":\"CUST0-GB (Main Contact)\",\"contact_type\":{\"id\":1,\"name\":\"CUSTOMER\",\"scope\":1},\"email\":\"\",\"telephone\":\"\",\"mobile\":\"\",\"notes\":\"\",\"tax_reference\":\"\",\"main_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"id\":218,\"$key\":218},\"$key\":31},\"delivery_address\":{\"$key\":null},\"lock_version\":0,\"$key\":51}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 14:24:16 GMT"}],"recorded_with":"VCR 2.9.3"}