{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/incomes?$itemsPerPage=2","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["c629d6084c4431fd38835f5a1d774cd2"], "X-Signature":["1xs+rQaWRGY7oiQUOA4u/3u/r6k="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"d8d895db3bc59d244a7b236c105fc1ae\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":2,\"$startIndex\":0,\"$itemsPerPage\":2,\"$resources\":[{\"id\":2939,\"date\":\"31/12/2014\",\"invoice_date\":\"31/12/2014\",\"amount\":\"100.0\",\"tax_amount\":\"20.0\",\"gross_amount\":\"120.0\",\"tax_percentage_rate\":\"20.0\",\"tax_code\":{\"id\":1,\"$key\":1},\"tax_scheme_period_id\":117,\"reference\":\"I12345\",\"contact\":{\"$key\":null},\"source\":{\"id\":7709,\"$key\":7709},\"destination\":{\"id\":7696,\"$key\":7696},\"payment_method\":{\"id\":2,\"$key\":2},\"voided\":false,\"lock_version\":0,\"$key\":2939},{\"id\":2940,\"date\":\"31/12/2014\",\"invoice_date\":\"31/12/2014\",\"amount\":\"150.0\",\"tax_amount\":\"30.0\",\"gross_amount\":\"180.0\",\"tax_percentage_rate\":\"20.0\",\"tax_code\":{\"id\":1,\"$key\":1},\"tax_scheme_period_id\":117,\"reference\":\"\",\"contact\":{\"$key\":null},\"source\":{\"id\":7709,\"$key\":7709},\"destination\":{\"id\":7696,\"$key\":7696},\"payment_method\":{\"id\":2,\"$key\":2},\"voided\":false,\"lock_version\":0,\"$key\":2940}]}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 11:38:59 GMT"}],"recorded_with":"VCR 2.9.3"}