{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/incomes","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["358f5a667a11f943ecd63f119a5bde20"], "X-Signature":["mivtDbO6vFGSI1mLydaNF08h3c8="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"1725c55fce7b3461ead9dcdab93c1e12\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":2,\"$startIndex\":0,\"$itemsPerPage\":20,\"$resources\":[{\"id\":2939,\"date\":\"31/12/2014\",\"invoice_date\":\"31/12/2014\",\"amount\":\"100.0\",\"tax_amount\":\"20.0\",\"gross_amount\":\"120.0\",\"tax_percentage_rate\":\"20.0\",\"tax_code\":{\"id\":1,\"$key\":1},\"tax_scheme_period_id\":117,\"reference\":\"I12345\",\"contact\":{\"$key\":null},\"source\":{\"id\":7709,\"$key\":7709},\"destination\":{\"id\":7696,\"$key\":7696},\"payment_method\":{\"id\":2,\"$key\":2},\"voided\":false,\"lock_version\":0,\"$key\":2939},{\"id\":2940,\"date\":\"31/12/2014\",\"invoice_date\":\"31/12/2014\",\"amount\":\"150.0\",\"tax_amount\":\"30.0\",\"gross_amount\":\"180.0\",\"tax_percentage_rate\":\"20.0\",\"tax_code\":{\"id\":1,\"$key\":1},\"tax_scheme_period_id\":117,\"reference\":\"\",\"contact\":{\"$key\":null},\"source\":{\"id\":7709,\"$key\":7709},\"destination\":{\"id\":7696,\"$key\":7696},\"payment_method\":{\"id\":2,\"$key\":2},\"voided\":false,\"lock_version\":0,\"$key\":2940}]}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 11:38:59 GMT"}],"recorded_with":"VCR 2.9.3"}