{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/transactions","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer bc8b0400db3b8f625a47518e4d4e6b37afd36bca"], "X-Nonce":["523ea03456dba88a229830f99041b894"], "X-Signature":["osyklkfZm6Hu3ffY36wkbKlmZJA="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"47bd834b63484fb480ba376c490cc61c\""], "Status":["200 OK"], "X-Server":["uk-production-extra-r3-26 (production)","uk-production-modproxy-141"]},"body":{"encoding":"UTF-8","string":"[{\"id\":19505170,\"entry_date\":\"2015-12-09T08:47:33Z\",\"created_by\":null,\"last_updated\":\"2015-12-09T08:47:33Z\",\"transaction_date\":\"2015-12-09\",\"contact\":{\"id\":5161110,\"company_name\":\"Bob's Building\",\"reference\":\"bob\",\"contact_type\":\"Customer\",\"$key\":5161110},\"type\":{\"id\":6,\"name\":\"Customer Allocation\",\"$key\":6},\"net\":null,\"vat\":null,\"total\":\"0.0\",\"deleted\":false,\"invoice_number\":null,\"reference\":null,\"ledger_entries\":[{\"id\":94965123,\"entry_date\":\"2015-12-09T08:47:33Z\",\"last_updated\":\"2015-12-09T08:47:33Z\",\"transaction_date\":\"2015-12-09\",\"credit\":\"0.0\",\"debit\":\"32.99\",\"deleted\":false,\"ledger_account\":{\"id\":5167026,\"included_in_chart\":true,\"ledger_name\":\"Trade Debtors\",\"name\":\"Trade Debtors\",\"nominal_code\":1100,\"last_updated\":\"2015-12-05T14:12:48Z\",\"tax_code\":{\"id\":5,\"name\":\"No VAT\",\"$key\":5},\"category\":{\"id\":6,\"name\":\"Current Assets\",\"$key\":6},\"category_group\":{\"id\":3,\"name\":\"Asset\",\"$key\":3},\"$key\":5167026},\"$key\":94965123},{\"id\":94965124,\"entry_date\":\"2015-12-09T08:47:33Z\",\"last_updated\":\"2015-12-09T08:47:33Z\",\"transaction_date\":\"2015-12-09\",\"credit\":\"0.0\",\"debit\":\"32.99\",\"deleted\":false,\"ledger_account\":{\"id\":5167026,\"included_in_chart\":true,\"ledger_name\":\"Trade Debtors\",\"name\":\"Trade Debtors\",\"nominal_code\":1100,\"last_updated\":\"2015-12-05T14:12:48Z\",\"tax_code\":{\"id\":5,\"name\":\"No VAT\",[...]
