{"http_interactions":[{"request":{"method":"delete","uri":"https://api.sageone.com/accounts/v1/incomes/2944","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["bd264590604fe8c023db52502a54a555"], "X-Signature":["SIw6PyWrDrnDs4ttoexSOz+tHEg="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"11c7fb44a1451c90fccbb89c6d11deca\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":2944,\"date\":\"31/12/2014\",\"invoice_date\":\"31/12/2014\",\"amount\":\"100.0\",\"tax_amount\":\"20.0\",\"gross_amount\":\"120.0\",\"tax_percentage_rate\":\"5.0\",\"tax_code\":{\"id\":2,\"$key\":2},\"tax_scheme_period_id\":117,\"reference\":\"Foo\",\"contact\":{\"$key\":null},\"source\":{\"id\":7709,\"$key\":7709},\"destination\":{\"id\":7696,\"$key\":7696},\"payment_method\":{\"id\":2,\"$key\":2},\"voided\":true,\"lock_version\":1,\"$key\":2944}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 11:45:31 GMT"}],"recorded_with":"VCR 2.9.3"}