{"http_interactions":[{"request":{"method":"post","uri":"https://api.sageone.com/accounts/v1/services","body":{"encoding":"UTF-8","string":"service%5Bdescription%5D=Foo"},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["c4dc4bdc7ca8b3a3d0e7532eaf13009d"], "X-Signature":["3jDku4KL+9xAeswLoOFSHVUJXIE="]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"5fb48e59bf52ba1fe5dcae48f1162375\""], "Status":["201"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":8,\"description\":\"Foo\",\"extra_info\":\"\",\"period_rate_price\":\"0.0\",\"rate_includes_tax\":0,\"period_type\":{\"id\":1,\"$key\":1},\"ledger_account\":{\"id\":494,\"$key\":494},\"tax_code\":{\"id\":1,\"$key\":1},\"lock_version\":0,\"$key\":8}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:35:26 GMT"}],"recorded_with":"VCR 2.9.3"}