{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/purchase_invoices?$itemsPerPage=2","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["3fe978a64c7851a156f25043b8f439d5"], "X-Signature":["n8og0ccy48icW4/0PWApmLxiGS8="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"4715779d6ab1b39f7fc528dc1dc5f7dd\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":2,\"$startIndex\":0,\"$itemsPerPage\":2,\"$resources\":[{\"id\":1048,\"status\":{\"id\":1,\"$key\":1},\"due_date\":\"30/01/2015\",\"date\":\"31/12/2014\",\"void_reason\":null,\"outstanding_amount\":\"500.0\",\"total_net_amount\":\"500.0\",\"total_tax_amount\":\"0.0\",\"tax_scheme_period_id\":117,\"contact\":{\"id\":582,\"$key\":582},\"contact_name\":\"Bar\",\"main_address\":null,\"delivery_address\":null,\"delivery_address_same_as_main\":false,\"reference\":\"\",\"notes\":\"\",\"terms_and_conditions\":null,\"lock_version\":0,\"line_items\":[{\"id\":180,\"description\":\"Bar\",\"quantity\":\"5.0\",\"unit_price\":\"100.0\",\"net_amount\":\"500.0\",\"tax_amount\":\"0.0\",\"tax_code\":{\"id\":4,\"$key\":4},\"tax_rate_percentage\":\"0.0\",\"unit_price_includes_tax\":false,\"ledger_account\":{\"id\":7722,\"$key\":7722},\"product_code\":null,\"product\":{\"$key\":null},\"service\":{\"$key\":null},\"lock_version\":0,\"$key\":180}],\"$key\":1048},{\"id\":1047,\"status\":{\"id\":1,\"$key\":1},\"due_date\":\"30/01/2015\",\"date\":\"31/12/2014\",\"void_reason\":null,\"outstanding_amount\":\"10.5\",\"total_net_amount\":\"10.0\",\"total_tax_amount\":\"0.5\",\"tax_scheme_period_id\":117,\"contact\":{\"id\":581,\"$key\":581},\"contact_name\":\"Foo\",\"main_address\":null,\"delivery_address\":null,\"delivery_address_same_as_main\":false,\"reference\":\"\",\"notes\":\"\",\"terms_and_conditions\":null,\"lock_version\":0,\"line_items\":[{\"id\":179,\"description\":\"Foo\",\"quantity\":\"1.0\",\"unit_price\":\"10.0\",\"net_amount\":\"10.0\",\"tax_amount\":\"0.5\",\"tax_code\":{\"id\":2,\"$key\":2},\"tax_rate_percentage\":\"5.0\",\"unit_price_includes_tax\":false,\"ledger_account\":{\"id\":7718,\"$key\":7718},\"product_code\":null,\"product\":{\"$key\":null},\"service\":{\"$key\":null},\"lock_version\":0,\"$key\":179}],\"$key\":1047}]}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 14:53:16 GMT"}],"recorded_with":"VCR 2.9.3"}