{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/contacts?contact_type_id=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["72b0429632b63402c5fdadd5f40c39d8"], "X-Signature":["thV1URoo+LlipVg/j8Nn5THL0rI="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"e5689e568afa48a54a69c87b4f4fc459\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"[{\"id\":580,\"name\":\"Lorem\",\"company_name\":\"\",\"name_and_company_name\":\"Lorem\",\"contact_type\":{\"id\":1,\"$key\":1},\"email\":\"\",\"telephone\":\"\",\"mobile\":\"\",\"notes\":\"\",\"tax_reference\":\"\",\"lock_version\":0,\"main_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"$key\":null},\"$key\":1225},\"delivery_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"$key\":null},\"$key\":1226},\"$key\":580},{\"id\":579,\"name\":\"Test\",\"company_name\":\"\",\"name_and_company_name\":\"Test\",\"contact_type\":{\"id\":1,\"$key\":1},\"email\":\"\",\"telephone\":\"\",\"mobile\":\"\",\"notes\":\"\",\"tax_reference\":\"\",\"lock_version\":0,\"main_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"[...]
{"request":{"method":"post","uri":"https://api.sageone.com/accounts/v1/sales_invoices","body":{"encoding":"UTF-8","string":"sales_invoice%5Bcarriage_tax_code_id%5D=1\u0026sales_invoice%5Bcontact_id%5D=580\u0026sales_invoice%5Bcontact_name%5D=Lorem\u0026sales_invoice%5Bdate%5D=31%2F12%2F2014\u0026sales_invoice%5Bdue_date%5D=30%2F01%2F2015\u0026sales_invoice%5Bline_items_attributes%5D%5B0%5D%5Bdescription%5D=A1\u0026sales_invoice%5Bline_items_attributes%5D%5B0%5D%5Bledger_account_id%5D=7709\u0026s[...]
