{"http_interactions":[{"request":{"method":"put","uri":"https://api.sageone.com/accounts/v1/contacts/51","body":{"encoding":"UTF-8","string":"contact%5Bname%5D=Bar"},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["4f95ef46c092a4d32b24674c641b6e58"], "X-Signature":["jK3Uri0ZDeNH5gj+NofemAf1Kvk="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"269c326a198b8d0977d7bf79d9d0e4a4\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":51,\"company_name\":\"CUST0-GB\",\"name\":\"Bar\",\"name_and_company_name\":\"CUST0-GB (Bar)\",\"contact_type\":{\"id\":1,\"name\":\"CUSTOMER\",\"scope\":1},\"email\":\"\",\"telephone\":\"\",\"mobile\":\"\",\"notes\":\"\",\"tax_reference\":\"\",\"main_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"id\":218,\"$key\":218},\"$key\":31},\"delivery_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"$key\":null},\"$key\":197},\"lock_version\":3,\"$key\":51}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 14:59:05 GMT"}],"recorded_with":"VCR 2.9.3"}