{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/tax_rates/%7B%22$itemsPerPage%22=%3E2%7D","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["61d1ea3913012346f55e08b0039791e6"], "X-Signature":["egXvcTC2vT6Yu0BrzfK6sz6usWA="]}},"response":{"status":{"code":401,"message":"Unauthorized"},"headers":{"Content-Type":["application/json"]},"body":{"encoding":"UTF-8","string":"{\"$diagnoses\":[{\"$severity\":\"error\",\"$dataCode\":\"AuthorizationFailure\",\"$message\":\"Access Denied\",\"$source\":\"\"}]}\n"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:21:15 GMT"}],"recorded_with":"VCR 2.9.3"}