{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/tax_rates","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["97c87b538ca737b50f466b8bab2442b5"], "X-Signature":["6X8ILM5T3Cve3w7aTND91yHn2uI="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"aa8ffe15ee4ce369731b7470b2f6864c\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":5,\"$startIndex\":0,\"$itemsPerPage\":20,\"$resources\":[{\"id\":1,\"name\":\"Standard\",\"percentage\":\"20.0\",\"current\":true,\"$key\":1},{\"id\":2,\"name\":\"Lower Rate\",\"percentage\":\"5.0\",\"current\":true,\"$key\":2},{\"id\":3,\"name\":\"Zero Rated\",\"percentage\":\"0.0\",\"current\":true,\"$key\":3},{\"id\":4,\"name\":\"Exempt\",\"percentage\":\"0.0\",\"current\":true,\"$key\":4},{\"id\":5,\"name\":\"No VAT\",\"percentage\":\"0.0\",\"current\":true,\"$key\":5}]}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:21:26 GMT"}],"recorded_with":"VCR 2.9.3"}