{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/expense_types?$itemsPerPage=2","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["339c9a6fb5a7916cd4bf1fce4ac4f990"], "X-Signature":["493tqgzkohzzLgqxjISzy1qdcas="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"7625a286fcd8b6d3f74fa71a322ee2b3\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":19,\"$startIndex\":0,\"$itemsPerPage\":19,\"$resources\":[{\"id\":481,\"name\":\"Assets - Cost\",\"nominal_code\":1,\"tax_code\":{\"id\":1,\"name\":\"Standard\",\"$key\":1},\"$key\":481},{\"id\":498,\"name\":\"Cost of sales - goods\",\"nominal_code\":5000,\"tax_code\":{\"id\":1,\"name\":\"Standard\",\"$key\":1},\"$key\":498},{\"id\":499,\"name\":\"Cost of sales - materials\",\"nominal_code\":5010,\"tax_code\":{\"id\":1,\"name\":\"Standard\",\"$key\":1},\"$key\":499},{\"id\":500,\"name\":\"Cost of sales - delivery\",\"nominal_code\":5015,\"tax_code\":{\"id\":1,\"name\":\"Standard\",\"$key\":1},\"$key\":500},{\"id\":501,\"n[...]
