{"http_interactions":[{"request":{"method":"delete","uri":"https://api.sageone.com/accounts/v1/products/11","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["d7e4e53d443a9991560781c5e4a7877f"], "X-Signature":["rzAxp/pGyzSx2aTfJ8FSaYoQcQI="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"f09759a4ca60771290aed1e19cc8991b\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":11,\"description\":\"Foo\",\"product_code\":\"\",\"extra_info\":\"\",\"sales_price\":\"0.0\",\"sales_price_includes_tax\":0,\"last_cost_price\":\"0.0\",\"ledger_account\":{\"id\":494,\"$key\":494},\"tax_code\":{\"id\":1,\"$key\":1},\"lock_version\":0,\"$key\":11}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:33:07 GMT"}],"recorded_with":"VCR 2.9.3"}