{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/products/7","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["246c69e96a6e42c7d2ff9023882b1ad1"], "X-Signature":["na/Covfs02jq3xP430gNBhKfDHQ="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"5278ee012b29704cc9f576ff5db284a2\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":7,\"description\":\"Foo\",\"product_code\":\"\",\"extra_info\":\"\",\"sales_price\":\"0.0\",\"sales_price_includes_tax\":0,\"last_cost_price\":\"0.0\",\"ledger_account\":{\"id\":494,\"$key\":494},\"tax_code\":{\"id\":1,\"$key\":1},\"lock_version\":0,\"$key\":7}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:33:06 GMT"}],"recorded_with":"VCR 2.9.3"}