{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/expenditures/2930","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["5233357d12a478fd0cb953b27169f1fb"], "X-Signature":["F6la2lqYZ6DjL11TW8Qflr7ZdqA="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"9fd57146c186ce8c76bb8364ae019048\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":2930,\"date\":\"31/12/2014\",\"invoice_date\":\"31/12/2014\",\"amount\":\"58.0\",\"tax_amount\":\"2.9\",\"gross_amount\":\"60.9\",\"tax_percentage_rate\":\"5.0\",\"tax_code\":{\"id\":2,\"$key\":2},\"tax_scheme_period_id\":117,\"reference\":\"Energy bill\",\"contact\":{\"$key\":null},\"source\":{\"id\":7696,\"$key\":7696},\"destination\":{\"id\":7718,\"$key\":7718},\"payment_method\":{\"id\":1,\"$key\":1},\"voided\":false,\"lock_version\":1,\"$key\":2930}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 10:32:28 GMT"}],"recorded_with":"VCR 2.9.3"}