{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/account_types/1","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["ef4c77c003b86cf80a3dc477bb89f872"], "X-Signature":["3695C19Hq6ZNAq0u6X2jr/jDsiU="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"4d16a1d5a1d11f74b24e848e0be4763e\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":1,\"name\":\"Current\",\"$key\":1}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 15:43:17 GMT"}],"recorded_with":"VCR 2.9.3"}