{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/account_types","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["76e651d52ddce2635c85d1c0c1bc5871"], "X-Signature":["r2KNL9vsSpe9xbUDSlobAc3HwdI="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"d7620f20d15a8152c97187f688eb8afa\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":6,\"$startIndex\":0,\"$itemsPerPage\":20,\"$resources\":[{\"id\":1,\"name\":\"Current\",\"$key\":1},{\"id\":2,\"name\":\"Savings\",\"$key\":2},{\"id\":3,\"name\":\"Credit Card\",\"$key\":3},{\"id\":5,\"name\":\"Cash in Hand\",\"$key\":5},{\"id\":6,\"name\":\"Loan\",\"$key\":6},{\"id\":7,\"name\":\"Other\",\"$key\":7}]}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 15:43:17 GMT"}],"recorded_with":"VCR 2.9.3"}