{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/bank_accounts","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["5d1839ddff3ad5c363e5f0bb0929706d"], "X-Signature":["oNqE5x9PhZIraFRTr7rVSHqInYs="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"da0ad4061290366a6bbb079c34575ee8\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":2,\"$startIndex\":0,\"$itemsPerPage\":20,\"$resources\":[{\"id\":245,\"account_name\":\"Current\",\"account_number\":\"\",\"sort_code\":\"\",\"telephone\":\"\",\"email\":\"\",\"address\":{\"$key\":null},\"account_type\":{\"id\":1,\"$key\":1},\"ledger_account\":{\"id\":7696,\"$key\":7696},\"balance\":\"198.0\",\"$key\":245},{\"id\":246,\"account_name\":\"Cash in Hand\",\"account_number\":\"\",\"sort_code\":\"\",\"telephone\":\"\",\"email\":\"\",\"address\":{\"$key\":null},\"account_type\":{\"id\":5,\"$key\":5},\"ledger_account\":{\"id\":7697,\"$key\":7697},\"balance\":\"0.0\",\"$key\":246}]}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 11:48:00 GMT"}],"recorded_with":"VCR 2.9.3"}