{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/contacts","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["1f12513beb2cd19106028d3cf136b81a"], "X-Signature":["+PvfjekEVccjNXDcImlFNnL7pu0="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"56b54c2b4d460ca6045978154f27a2e5\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":13,\"$startIndex\":0,\"$itemsPerPage\":20,\"$resources\":[{\"id\":51,\"company_name\":\"CUST0-GB\",\"name\":\"Bar\",\"name_and_company_name\":\"CUST0-GB (Bar)\",\"contact_type\":{\"id\":1,\"name\":\"CUSTOMER\",\"scope\":1},\"email\":\"\",\"telephone\":\"\",\"mobile\":\"\",\"notes\":\"\",\"tax_reference\":\"\",\"main_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"id\":218,\"$key\":218},\"$key\":31},\"delivery_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"$key\":null},\"$key\":197},\"lock_version\":3,\"$key\":51},{\"id\":53,\"company_name\":\"CUST1-IE\",\"name\":\"Main Contact\",\"name_and_company_name\":\"CUST1-IE (Main Contact)\",\"contact_type\":{\"id\":1,\"name\":\"CUSTOMER\",\"scope\":1},\"email\":\"\",\"telephone\":\"\",\"mobile\":\"\",\"notes\":\"\",\"tax_reference\":\"\",\"main_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"id\":101,\"$key\":101},\"$key\":32},\"delivery_address\":{\"$key\":null},\"lock_version\":0,\[...]
