{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/countries","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["1f69b67136231d16c7c2950adbc55cb2"], "X-Signature":["91O7KJlxH4xJUquXRo1Rk+ITGZg="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"527d6336e92e3a6ceeb1ea71ab789c71\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":191,\"$startIndex\":0,\"$itemsPerPage\":191,\"$resources\":[{\"id\":1,\"code\":\"AF\",\"name\":\"Afghanistan\",\"$key\":1},{\"id\":2,\"code\":\"AL\",\"name\":\"Albania\",\"$key\":2},{\"id\":3,\"code\":\"DZ\",\"name\":\"Algeria\",\"$key\":3},{\"id\":5,\"code\":\"AD\",\"name\":\"Andorra\",\"$key\":5},{\"id\":6,\"code\":\"AO\",\"name\":\"Angola\",\"$key\":6},{\"id\":10,\"code\":\"AR\",\"name\":\"Argentina\",\"$key\":10},{\"id\":11,\"code\":\"AM\",\"name\":\"Armenia\",\"$key\":11},{\"id\":12,\"code\":\"AW\",\"name\":\"Aruba\",\"$key\":12},{\"id\":13,\"code\":\"AU\",\"name\":\"Australia\",\"$k[...]
