{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/contacts?contact_type_id=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["4fb2900374ebe2ebbcb4d9fbb2589d70"], "X-Signature":["v6GfCdwWdgko37fIOXGnObkjTcg="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"e5689e568afa48a54a69c87b4f4fc459\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"[{\"id\":580,\"name\":\"Lorem\",\"company_name\":\"\",\"name_and_company_name\":\"Lorem\",\"contact_type\":{\"id\":1,\"$key\":1},\"email\":\"\",\"telephone\":\"\",\"mobile\":\"\",\"notes\":\"\",\"tax_reference\":\"\",\"lock_version\":0,\"main_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"$key\":null},\"$key\":1225},\"delivery_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"$key\":null},\"$key\":1226},\"$key\":580},{\"id\":579,\"name\":\"Test\",\"company_name\":\"\",\"name_and_company_name\":\"Test\",\"contact_type\":{\"id\":1,\"$key\":1},\"email\":\"\",\"telephone\":\"\",\"mobile\":\"\",\"notes\":\"\",\"tax_reference\":\"\",\"lock_version\":0,\"main_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"[...]
