{"http_interactions":[{"request":{"method":"post","uri":"https://api.sageone.com/accounts/v1/contacts","body":{"encoding":"UTF-8","string":"contact%5Bcontact_type_id%5D=1\u0026contact%5Bname%5D=Foo"},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["83a5a21b0d2c9a22c9402d6eda9fd362"], "X-Signature":["NrCgtUXtuXalWW01BW8TBg6meEw="]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"e7ad9e49aac711eabc539c3c4d1fa4ae\""], "Status":["201"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":279,\"company_name\":\"Foo\",\"name\":\"Foo\",\"name_and_company_name\":\"Foo (Foo)\",\"contact_type\":{\"id\":1,\"name\":\"CUSTOMER\",\"scope\":1},\"email\":\"\",\"telephone\":\"\",\"mobile\":\"\",\"notes\":\"\",\"tax_reference\":\"\",\"main_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"$key\":null},\"$key\":198},\"delivery_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"$key\":null},\"$key\":199},\"lock_version\":2,\"$key\":279}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 15:02:14 GMT"}],"recorded_with":"VCR 2.9.3"}