{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/expense_methods","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["6229c2c1f169467a6759304a430b65e6"], "X-Signature":["L4vsoxGvYjIXArKmEKL3IvutuPM="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"1a25be970faabf2be444159d52db9b51\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":3,\"$startIndex\":0,\"$itemsPerPage\":20,\"$resources\":[{\"id\":1,\"name\":\"Bank Payment\",\"code\":\"BP\",\"$key\":1},{\"id\":4,\"name\":\"Cash Payment\",\"code\":\"CP\",\"$key\":4},{\"id\":6,\"name\":\"Credit Card Payment\",\"code\":\"CCP\",\"$key\":6}]}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 10:07:20 GMT"}],"recorded_with":"VCR 2.9.3"}