{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/expenditures","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["f513c9f97636e9a9f51f874b848a644e"], "X-Signature":["Oey67+/gRqPeyS5wS5/CH4G4GJg="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"6ba83db2e5aad2e22931b616bb3fe047\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":2,\"$startIndex\":0,\"$itemsPerPage\":20,\"$resources\":[{\"id\":2930,\"date\":\"31/12/2014\",\"invoice_date\":\"31/12/2014\",\"amount\":\"58.0\",\"tax_amount\":\"2.9\",\"gross_amount\":\"60.9\",\"tax_percentage_rate\":\"5.0\",\"tax_code\":{\"id\":2,\"$key\":2},\"tax_scheme_period_id\":117,\"reference\":\"Energy bill\",\"contact\":{\"$key\":null},\"source\":{\"id\":7696,\"$key\":7696},\"destination\":{\"id\":7718,\"$key\":7718},\"payment_method\":{\"id\":1,\"$key\":1},\"voided\":false,\"lock_version\":1,\"$key\":2930},{\"id\":2931,\"date\":\"31/12/2014\",\"invoice_date\":\"31/12/2014\",\"amount\":\"34.0\",\"tax_amount\":\"1.7\",\"gross_amount\":\"35.7\",\"tax_percentage_rate\":\"5.0\",\"tax_code\":{\"id\":2,\"$key\":2},\"tax_scheme_period_id\":117,\"reference\":\"Gas bill\",\"contact\":{\"$key\":null},\"source\":{\"id\":7696,\"$key\":7696},\"destination\":{\"id\":7718,\"$key\":7718},\"payment_method\":{\"id\":1,\"$key\":1},\"voided\":false,\"lock_version\":0,\"$key\":2931}]}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 10:32:28 GMT"}],"recorded_with":"VCR 2.9.3"}