{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/income_methods","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["4bfa9c8c3e81f14729c6f84f08de252c"], "X-Signature":["KVmz574QP9SOFCickInAMoV/IJA="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"a697a23686f66812b5f185a93d0ae6dd\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":3,\"$startIndex\":0,\"$itemsPerPage\":20,\"$resources\":[{\"id\":2,\"name\":\"Bank Receipt\",\"code\":\"BR\",\"$key\":2},{\"id\":5,\"name\":\"Cash Receipt\",\"code\":\"CR\",\"$key\":5},{\"id\":10,\"name\":\"Cheque In Hand\",\"code\":\"CIH\",\"$key\":10}]}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 10:12:53 GMT"}],"recorded_with":"VCR 2.9.3"}