{"http_interactions":[{"request":{"method":"post","uri":"https://api.sageone.com/accounts/v1/incomes","body":{"encoding":"UTF-8","string":"income%5Bamount%5D=100\u0026income%5Bdate%5D=31%2F12%2F2014\u0026income%5Bdestination_id%5D=7696\u0026income%5Bpayment_method_id%5D=2\u0026income%5Breference%5D=Foo\u0026income%5Bsource_id%5D=7709\u0026income%5Btax_amount%5D=20\u0026income%5Btax_code_id%5D=2\u0026income%5Btax_percentage_rate%5D=5.0"},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["4970f6e98211d006dc8acadf0c8a10a2"], "X-Signature":["QRwFgLexXCtSQJHjmVsJrrHT9+A="]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"e42f1a1c76326af4f03e8c8ac92d7b2d\""], "Status":["201"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":2944,\"date\":\"31/12/2014\",\"invoice_date\":\"31/12/2014\",\"amount\":\"100.0\",\"tax_amount\":\"20.0\",\"gross_amount\":\"120.0\",\"tax_percentage_rate\":\"5.0\",\"tax_code\":{\"id\":2,\"$key\":2},\"tax_scheme_period_id\":117,\"reference\":\"Foo\",\"contact\":{\"$key\":null},\"source\":{\"id\":7709,\"$key\":7709},\"destination\":{\"id\":7696,\"$key\":7696},\"payment_method\":{\"id\":2,\"$key\":2},\"voided\":false,\"lock_version\":0,\"$key\":2944}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 11:45:30 GMT"}],"recorded_with":"VCR 2.9.3"}