{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/ledger_accounts","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["b1ed7ce3b2561283949dde9e2fcf73d4"], "X-Signature":["6HLlTccG8pV8H76+hS4ozBHd9lw="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"94fc5f89ecc4caf16dbd0d92a643fa58\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":60,\"$startIndex\":0,\"$itemsPerPage\":60,\"$resources\":[{\"id\":7686,\"name\":\"IT equipment cost\",\"nominal_code\":30,\"tax_code\":{\"id\":1,\"name\":\"STANDARD\",\"$key\":1},\"$key\":7686},{\"id\":7687,\"name\":\"IT Depreciation\",\"nominal_code\":31,\"tax_code\":{\"id\":5,\"name\":\"NO_VAT\",\"$key\":5},\"$key\":7687},{\"id\":7688,\"name\":\"Fixtures \u0026 Fittings Cost\",\"nominal_code\":40,\"tax_code\":{\"id\":1,\"name\":\"STANDARD\",\"$key\":1},\"$key\":7688},{\"id\":7689,\"name\":\"Fixtures \u0026 Fittings Depreciation\",\"nominal_code\":41,\"tax_code\":{\"id\":5,\"name\":\"NO_VAT\",\"$key\":5},\"$key\":7689},{\"id\"[...]
[...]
