{"http_interactions":[{"request":{"method":"post","uri":"https://api.sageone.com/accounts/v1/purchase_invoices","body":{"encoding":"UTF-8","string":"purchase_invoice%5Bcontact_id%5D=582\u0026purchase_invoice%5Bcontact_name%5D=Bar\u0026purchase_invoice%5Bdate%5D=31%2F12%2F2014\u0026purchase_invoice%5Bdue_date%5D=15%2F01%2F2015\u0026purchase_invoice%5Bline_items_attributes%5D%5B0%5D%5Bdescription%5D=A1\u0026purchase_invoice%5Bline_items_attributes%5D%5B0%5D%5Bledger_account_id%5D=7718\u0026purchase_invoice%5Bline_items_attributes%5D%5B0%5D%5Bquantity%5D=1\u0026purchase_invoice%5Bline_items_attributes%5D%5B0%5D%5Btax_code_id%5D=1\u0026purchase_invoice%5Bline_items_attributes%5D%5B0%5D%5Bunit_price%5D=10\u0026purchase_invoice%5Bline_items_attributes%5D%5B1%5D%5Bdescription%5D=B1\u0026purchase_invoice%5Bline_items_attributes%5D%5B1%5D%5Bledger_account_id%5D=7718\u0026purchase_invoice%5Bline_items_attributes%5D%5B1%5D%5Bquantity%5D=5\u0026purchase_invoice%5Bline_items_attributes%5D%5B1%5D%5Btax_code_id%5D=1\u0026purchase_invoice%5Bline_items_attributes%5D%5B1%5D%5Bunit_price%5D=9.99\u0026purchase_invoice%5Breference%5D=Foo"},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["33b2273241a30257fc2964fbdc1c5d09"], "X-Signature":["DmdhDCgOW4oOP5vGGSI2ad0undQ="]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"da027623a94321e8867ab00a78080fab\""], "Status":["201"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":1050,\"status\":{\"id\":1,\"$key\":1},\"due_date\":\"15/01/2015\",\"date\":\"31/12/2014\",\"void_reason\":null,\"outstanding_amount\":\"59.95\",\"total_net_amount\":\"59.95\",\"total_tax_amount\":\"0.0\",\"tax_scheme_period_id\":117,\"contact\":{\"id\":582,\"$key\":582},\"contact_name\":\"Bar\",\"main_address\":null,\"delivery_address\":null,\"delivery_address_same_as_main\":false,\"reference\":\"Foo\",\"notes\":null,\"terms_and_conditions\":null,\"lock_version\":0,\"line_items\":[{\"id\":183,\"description\":\"A1\",\"quantity\":\"1.0\",\"unit_price\":\"10.0\",\"net_amount\":\"10.0\",\"tax_amount\":\"0.0\",\"tax_code\":{\"id\":1,\"$key\":1},\"tax_rate_percentage\":\"0.0\",\"unit_price_includes_tax\":false,\"ledger_account\":{\"id\":7718,\"$key\":7718},\"product_code\":null,\"product\":{\"$key\":null},\"service\":{\"$key\":null},\"lock_version\":0,\"$key\":183},{\"id\":184,\"description\":\"B1\",\"quantity\":\"5.0\",\"unit_price\":\"9.99\",\"net_amount\":\"49.95\",\"tax_amount\":\"0.0\",\"tax_code\":{\"id\":1,\"$key\":1},\"tax_rate_percentage\":\"0.0\",\"unit_price_includes_tax\":false,\"ledger_account\":{\"id\":7718,\"$key\":7718},\"product_code\":null,\"product\":{\"$key\":null},\"service\":{\"$key\":null},\"lock_version\":0,\"$key\":184}],\"$key\":1050}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 14:55:47 GMT"}],"recorded_with":"VCR 2.9.3"}