{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/services","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["c246d8eb692b066573639d5af5974990"], "X-Signature":["UwYSqoalKv5HrlL49YtnmuwqB8E="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"46dc894cebc12638887e5be9c0fb12ad\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":3,\"$startIndex\":0,\"$itemsPerPage\":20,\"$resources\":[{\"id\":4,\"description\":\"Foo\",\"extra_info\":\"\",\"period_rate_price\":\"0.0\",\"rate_includes_tax\":0,\"period_type\":{\"id\":1,\"$key\":1},\"ledger_account\":{\"id\":494,\"$key\":494},\"tax_code\":{\"id\":1,\"$key\":1},\"lock_version\":0,\"$key\":4},{\"id\":6,\"description\":\"Service 1\",\"extra_info\":\"\",\"period_rate_price\":\"0.0\",\"rate_includes_tax\":0,\"period_type\":{\"id\":1,\"$key\":1},\"ledger_account\":{\"id\":494,\"$key\":494},\"tax_code\":{\"id\":1,\"$key\":1},\"lock_version\":0,\"$key\":6},{\"id\":7,\"description\":\"Service 2\",\"extra_info\":\"\",\"period_rate_price\":\"0.0\",\"rate_includes_tax\":0,\"period_type\":{\"id\":1,\"$key\":1},\"ledger_account\":{\"id\":494,\"$key\":494},\"tax_code\":{\"id\":1,\"$key\":1},\"lock_version\":0,\"$key\":7}]}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:35:26 GMT"}],"recorded_with":"VCR 2.9.3"}