{"http_interactions":[{"request":{"method":"post","uri":"https://api.sageone.com/accounts/v1/services","body":{"encoding":"UTF-8","string":"service%5Bdescription%5D=Foo"},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["f00cdc938b350707d61877c2822d9888"], "X-Signature":["874aXewNbnAg97SuUYdhchVLz+E="]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"d61bce685838729b67f4668e28cb565d\""], "Status":["201"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":9,\"description\":\"Foo\",\"extra_info\":\"\",\"period_rate_price\":\"0.0\",\"rate_includes_tax\":0,\"period_type\":{\"id\":1,\"$key\":1},\"ledger_account\":{\"id\":494,\"$key\":494},\"tax_code\":{\"id\":1,\"$key\":1},\"lock_version\":0,\"$key\":9}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:35:27 GMT"}],"recorded_with":"VCR 2.9.3"}