{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/contacts?contact_type_id=2","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["d79c26f4e9c4a1a07c521cbe100fdb4a"], "X-Signature":["OzT9resPb3yh0cp8H3xulI893lE="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"ae5de9e9ff7bc2a92ca05945117379de\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"[{\"id\":582,\"name\":\"Bar\",\"company_name\":\"\",\"name_and_company_name\":\"Bar\",\"contact_type\":{\"id\":2,\"$key\":2},\"email\":\"\",\"telephone\":\"\",\"mobile\":\"\",\"notes\":\"\",\"tax_reference\":\"\",\"lock_version\":0,\"main_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"$key\":null},\"$key\":1229},\"delivery_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"$key\":null},\"$key\":1230},\"$key\":582},{\"id\":581,\"name\":\"Foo\",\"company_name\":\"\",\"name_and_company_name\":\"Foo\",\"contact_type\":{\"id\":2,\"$key\":2},\"email\":\"\",\"telephone\":\"\",\"mobile\":\"\",\"notes\":\"\",\"tax_reference\":\"\",\"lock_version\":0,\"main_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"$k[...]
