{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/bank_accounts/245","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["2dbc20dcf82f7d816b0071948c66cee7"], "X-Signature":["kJ86TfzaaUwXzwTYtMzhHjG6Vrs="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"fb8678d2eef64f2b6852fb4f857d7e96\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":245,\"account_name\":\"Current\",\"account_number\":\"\",\"sort_code\":\"\",\"telephone\":\"\",\"email\":\"\",\"address\":{\"$key\":null},\"account_type\":{\"id\":1,\"$key\":1},\"ledger_account\":{\"id\":7696,\"$key\":7696},\"balance\":\"198.0\",\"$key\":245}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 11:48:59 GMT"}],"recorded_with":"VCR 2.9.3"}