{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/countries/1","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["0329b6388dba092280593a3c44033e24"], "X-Signature":["xM85EfuZfEEzDHSZZIJQm4uQ8XI="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"b2fe1764692eb5acb15e97406c7034d6\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":1,\"code\":\"AF\",\"name\":\"Afghanistan\",\"$key\":1}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 15:53:28 GMT"}],"recorded_with":"VCR 2.9.3"}