{"http_interactions":[{"request":{"method":"post","uri":"https://api.sageone.com/accounts/v1/journals","body":{"encoding":"UTF-8","string":"journal%5Bdate%5D=2016-01-01\u0026journal%5Bdescription%5D=description\u0026journal%5Bjournal_lines%5B0%5D%5Bcredit%5D%5D=50.0\u0026journal%5Bjournal_lines%5B0%5D%5Bdebit%5D%5D=0.0\u0026journal%5Bjournal_lines%5B0%5D%5Bdetails%5D%5D=detail\u0026journal%5Bjournal_lines%5B0%5D%5Bledger_account%5D%5Bnominal_code%5D%5D=1\u0026journal%5Bjournal_lines%5B1%5D%5Bcredit%5D%5D=0.0\u0026journal%5Bjournal_lines%5B1%5D%5Bdebit%5D%5D=50.0\u0026journal%5Bjournal_lines%5B1%5D%5Bdetails%5D%5D=detail\u0026journal%5Bjournal_lines%5B1%5D%5Bledger_account%5D%5Bnominal_code%5D%5D=9999\u0026journal%5Breference%5D=ref001"},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer 4c95aff8302a8b020e2343556d31669ef199a4d9"], "X-Nonce":["056e08f5d96f605dfc6f3e04af5c8c01"], "X-Signature":["gZvtG77gD8SDe2cRGLzidZMqw4Q="]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"a68f10b555c8af6b4ccc950238521360\""], "Status":["201 Created"], "X-Server":["uk-production-extra-r3-25 (production)","uk-production-modproxy-140"]},"body":{"encoding":"UTF-8","string":"{\"id\":341494,\"reference\":\"ref001\",\"description\":\"description\",\"date\":\"2016-01-01\",\"journal_lines\":[{\"id\":1196314,\"ledger_account\":{\"id\":5167018,\"nominal_code\":1,\"$key\":5167018},\"details\":\"detail\",\"credit\":\"50.0\",\"debit\":\"0.0\",\"$key\":1196314},{\"id\":1196315,\"ledger_account\":{\"id\":5167084,\"nominal_code\":9999,\"$key\":5167084},\"details\":\"detail\",\"credit\":\"0.0\",\"debit\":\"50.0\",\"$key\":1196315}],\"$key\":341494}"},"http_version":null},"recorded_at":"Thu, 17 Dec 2015 09:51:56 GMT"}],"recorded_with":"VCR 3.0.0"}