{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/contact_types/1","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["92f64736ac6ae9abe5f86f7dcfe0199a"], "X-Signature":["UJdaWXe7My4OEWv6CPCWS4JZ9oo="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"9819b698395256fbf31c6ebd15a4c7dc\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":1,\"name\":\"Customer\",\"$key\":1}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 15:51:05 GMT"}],"recorded_with":"VCR 2.9.3"}