{"http_interactions":[{"request":{"method":"post","uri":"https://api.sageone.com/accounts/v1/ledger_accounts","body":{"encoding":"UTF-8","string":"ledger_account%5Bfoo%5D=bar"},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer bc8b0400db3b8f625a47518e4d4e6b37afd36bca"], "X-Nonce":["1aed4747eed82ef15c751dfc55fff690"], "X-Signature":["rebtJFQUIuaoc1cIeQ6GlED7r3k="]}},"response":{"status":{"code":422,"message":"Unprocessable Entity"},"headers":{"Content-Type":["text/html; charset=UTF-8"], "Status":["422 Unprocessable Entity"], "X-Server":["uk-production-extra-r3-25 (production)","uk-production-modproxy-142"]},"body":{"encoding":"UTF-8","string":"{\"$diagnoses\":[{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"This field is required.\",\"$source\":\"ledger_account_type\"},{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"This field is required.\",\"$source\":\"name\"},{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"This field is required.\",\"$source\":\"display_name\"},{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"This field is required.\",\"$source\":\"nominal_code\"},{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"is not a number\",\"$source\":\"nominal_code\"},{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"This field is required.\",\"$source\":\"ledger_account_type_id\"}]}"},"http_version":null},"recorded_at":"Thu, 17 Dec 2015 08:52:27 GMT"}],"recorded_with":"VCR 3.0.0"}