{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/payment_statuses?$itemsPerPage=2","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["29e6b5f41a50103aab5cb9086893d792"], "X-Signature":["0D/KbyT3Y+bcu+xdxUw1kHj6408="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"05652753acf2719406a11ebaa95efd59\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":7,\"$startIndex\":0,\"$itemsPerPage\":7,\"$resources\":[{\"id\":1,\"name\":\"Unpaid\",\"$key\":1},{\"id\":2,\"name\":\"Part Paid\",\"$key\":2},{\"id\":3,\"name\":\"Paid\",\"$key\":3},{\"id\":4,\"name\":\"Void\",\"$key\":4},{\"id\":5,\"name\":\"Draft\",\"$key\":5},{\"id\":6,\"name\":\"Disputed\",\"$key\":6},{\"id\":7,\"name\":\"Declined\",\"$key\":7}]}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:17:20 GMT"}],"recorded_with":"VCR 2.9.3"}