{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/payment_statuses","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["ec66dbcad80af0f454c0d7e5f28d1322"], "X-Signature":["QB8tblOycdCPVk9/0zVRfA7Bja4="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"2bb297d864a1f7260a30c48d971958dc\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":7,\"$startIndex\":0,\"$itemsPerPage\":20,\"$resources\":[{\"id\":1,\"name\":\"Unpaid\",\"$key\":1},{\"id\":2,\"name\":\"Part Paid\",\"$key\":2},{\"id\":3,\"name\":\"Paid\",\"$key\":3},{\"id\":4,\"name\":\"Void\",\"$key\":4},{\"id\":5,\"name\":\"Draft\",\"$key\":5},{\"id\":6,\"name\":\"Disputed\",\"$key\":6},{\"id\":7,\"name\":\"Declined\",\"$key\":7}]}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:17:19 GMT"}],"recorded_with":"VCR 2.9.3"}