{"http_interactions":[{"request":{"method":"delete","uri":"https://api.sageone.com/accounts/v1/contacts/279","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["70cd3c64ef46c3ecdf006317b6ae4cd6"], "X-Signature":["u1nTz1+KbavJrhQL0sFZsdaR4xI="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"e7ad9e49aac711eabc539c3c4d1fa4ae\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":279,\"company_name\":\"Foo\",\"name\":\"Foo\",\"name_and_company_name\":\"Foo (Foo)\",\"contact_type\":{\"id\":1,\"name\":\"CUSTOMER\",\"scope\":1},\"email\":\"\",\"telephone\":\"\",\"mobile\":\"\",\"notes\":\"\",\"tax_reference\":\"\",\"main_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"$key\":null},\"$key\":198},\"delivery_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"$key\":null},\"$key\":199},\"lock_version\":2,\"$key\":279}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 15:05:27 GMT"}],"recorded_with":"VCR 2.9.3"}