{"http_interactions":[{"request":{"method":"post","uri":"https://api.sageone.com/accounts/v1/products","body":{"encoding":"UTF-8","string":"product%5Bdescription%5D=Foo"},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["1f8a064fc88035703d3238d43ae4b675"], "X-Signature":["x8JTw/gGwhbLSO+UZQdZoUkwIgY="]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"17585866f3a7112168f30d7b3d722c5a\""], "Status":["201"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":10,\"description\":\"Foo\",\"product_code\":\"\",\"extra_info\":\"\",\"sales_price\":\"0.0\",\"sales_price_includes_tax\":0,\"last_cost_price\":\"0.0\",\"ledger_account\":{\"id\":494,\"$key\":494},\"tax_code\":{\"id\":1,\"$key\":1},\"lock_version\":0,\"$key\":10}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:33:06 GMT"}],"recorded_with":"VCR 2.9.3"}