{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/expense_types/481","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["a6403339d7c37d058ca2e53b8e3afe68"], "X-Signature":["Z7q++nt+uVxjWKW8zTRQYsKQMs0="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"bc4a074d58f1aaefcc033c6dc5c7f3de\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":481,\"name\":\"Assets - Cost\",\"nominal_code\":1,\"tax_code\":{\"id\":1,\"name\":\"Standard\",\"$key\":1},\"$key\":481}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:06:22 GMT"}],"recorded_with":"VCR 2.9.3"}