{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/period_types/1","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["d44934a2da8f747c3dd0bb060cc9621a"], "X-Signature":["/5grxe+46fVbCumb9ircpRDUJEI="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"460c088035070a9543e5e357b2c9ca15\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":1,\"name\":\"Annually\",\"$key\":1}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:19:20 GMT"}],"recorded_with":"VCR 2.9.3"}