{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/expenditures","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["1428608e00a193805e7acf61b7cecc7c"], "X-Signature":["sMDXF1ZwvntP5p9bSZsbKUrppUc="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"194b1d1391be4faf36e5ec3a30a4f6ba\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":2,\"$startIndex\":0,\"$itemsPerPage\":20,\"$resources\":[{\"id\":2930,\"date\":\"31/12/2014\",\"invoice_date\":\"31/12/2014\",\"amount\":\"58.0\",\"tax_amount\":\"2.9\",\"gross_amount\":\"60.9\",\"tax_percentage_rate\":\"5.0\",\"tax_code\":{\"id\":2,\"$key\":2},\"tax_scheme_period_id\":117,\"reference\":\"\",\"contact\":{\"$key\":null},\"source\":{\"id\":7696,\"$key\":7696},\"destination\":{\"id\":7718,\"$key\":7718},\"payment_method\":{\"id\":1,\"$key\":1},\"voided\":false,\"lock_version\":0,\"$key\":2930},{\"id\":2931,\"date\":\"31/12/2014\",\"invoice_date\":\"31/12/2014\",\"amount\":\"34.0\",\"tax_amount\":\"1.7\",\"gross_amount\":\"35.7\",\"tax_percentage_rate\":\"5.0\",\"tax_code\":{\"id\":2,\"$key\":2},\"tax_scheme_period_id\":117,\"reference\":\"Gas bill\",\"contact\":{\"$key\":null},\"source\":{\"id\":7696,\"$key\":7696},\"destination\":{\"id\":7718,\"$key\":7718},\"payment_method\":{\"id\":1,\"$key\":1},\"voided\":false,\"lock_version\":0,\"$key\":2931}]}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 10:31:20 GMT"}],"recorded_with":"VCR 2.9.3"}