{"http_interactions":[{"request":{"method":"post","uri":"https://api.sageone.com/accounts/v1/sales_invoices","body":{"encoding":"UTF-8","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["1c928c7507533171e7e54ccb76992415"], "X-Signature":["Ki0sRswacTCnFViHJMqh95vnGWw="]}},"response":{"status":{"code":422,"message":"Unprocessable Entity"},"headers":{"Content-Type":["text/html; charset=UTF-8"], "Status":["422"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$diagnoses\":[{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"invalid date\",\"$source\":\"date\"}]}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 14:53:17 GMT"}],"recorded_with":"VCR 2.9.3"}
