{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/payment_statuses/1","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["939f0b2d0356d11e90f46fd565f350d4"], "X-Signature":["RLGuCCcHJoyWQKPQ87qr25JXPbo="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"0ad0358dd1893f8f8d221af3c4666010\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":1,\"name\":\"Unpaid\",\"$key\":1}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:17:20 GMT"}],"recorded_with":"VCR 2.9.3"}