{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/ledger_accounts/balances?from_date=2010-01-01\u0026to_date=2010-01-01","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer e147aa34aa43baf1b303dfe73c314757d054ff04"], "X-Nonce":["0dff6ba4422b53abbe8c4a60638b9e48"], "X-Signature":["DCaAlFIeaRE+2K1E1ll3uSfuJSM="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"d751713988987e9331980363e24189ce\""], "Status":["200 OK"], "X-Server":["uk-production-extra-r3-24 (production)","uk-production-modproxy-140"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Thu, 17 Dec 2015 07:40:28 GMT"}],"recorded_with":"VCR 3.0.0"}