{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/ledger_accounts/balances?from_date=2015-01-01\u0026to_date=2016-01-01","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer e147aa34aa43baf1b303dfe73c314757d054ff04"], "X-Nonce":["bb80a826414f0085c6d81ff043727b73"], "X-Signature":["jmUSLTLZKJ5r1qN2KGlEHGv02kU="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"e5a5a75f2c36bfd54b4751155c4725f0\""], "Status":["200 OK"], "X-Server":["uk-production-extra-r3-26 (production)","uk-production-modproxy-141"]},"body":{"encoding":"UTF-8","string":"[{\"ledger_account\":{\"id\":5167016,\"included_in_chart\":true,\"ledger_name\":\"Current\",\"name\":\"Current\",\"nominal_code\":1200,\"last_updated\":\"2015-12-05T14:12:46Z\",\"tax_code\":{\"$key\":null},\"category\":{\"id\":9,\"name\":\"Bank\",\"$key\":9},\"category_group\":{\"id\":3,\"name\":\"Asset\",\"$key\":3},\"$key\":5167016},\"balance\":\"12575.0\",\"credit_or_debit\":\"credit\",\"credits\":\"12575.0\",\"debits\":\"0.0\",\"$key\":5167016},{\"ledger_account\":{\"id\":5167018,\"included_in_chart\":true,\"ledger_name\":\"Assets - Cost\",\"name\":\"Assets - Cost\",\"nominal_code\":1,\"last_updated\":\"2015-12-05T14:12:48Z\",\"tax_code\":{\"id\":1,\"name\":\"Standard\",\"$key\":1},\"category\":{\"id\":7,\"name\":\"Fixed Assets\",\"$key\":7},\"category_group\":{\"id\":3,\"name\":\"Asset\",\"$key\":3},\"$key\":5167018},\"balance\":\"450.0\",\"credit_or_debit\":\"debit\",\"credits\":\"50.0\",\"debits\":\"500.0\"[...]
