{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/expense_methods/1","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["7ff7493e7e22ab33907a62b667a3e3fe"], "X-Signature":["SUA8m9Fyl1usORQT59MCtz7oFX8="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"4e14685cb766fba0a230c7f0fb79ae4e\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":1,\"name\":\"Bank Payment\",\"code\":\"BP\",\"$key\":1}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 10:07:20 GMT"}],"recorded_with":"VCR 2.9.3"}