{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/bank_accounts?$itemsPerPage=2","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["98075fbcc3bb83b4c9e4f59647d6bf3e"], "X-Signature":["rEZovB3H8Ze6QQUm85CE81QX05Y="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"2afa5902cae0f438430ead2fbd2dd602\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":2,\"$startIndex\":0,\"$itemsPerPage\":2,\"$resources\":[{\"id\":15,\"account_name\":\"Current\",\"account_number\":\"\",\"sort_code\":\"\",\"telephone\":\"\",\"email\":\"\",\"address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"$key\":null},\"$key\":27},\"account_type\":{\"id\":1,\"$key\":1},\"ledger_account\":{\"id\":479,\"$key\":479},\"balance\":\"0.0\",\"$key\":15},{\"id\":16,\"account_name\":\"Cash in Hand\",\"account_number\":\"\",\"sort_code\":\"\",\"telephone\":\"\",\"email\":\"\",\"address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"$key\":null},\"$key\":28},\"account_type\":{\"id\":5,\"$key\":5},\"ledger_account\":{\"id\":480,\"$key\":480},\"balance\":\"0.0\",\"$key\":16}]}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 15:47:25 GMT"}],"recorded_with":"VCR 2.9.3"}