{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/bank_accounts","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["9d6e5b464bb326ddf8a80b95e4d33a1f"], "X-Signature":["26iYEThNK2IU3IAMkVjnW1Iii0s="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"b3dc23f5c15f43621ded0652856d5059\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":2,\"$startIndex\":0,\"$itemsPerPage\":20,\"$resources\":[{\"id\":15,\"account_name\":\"Current\",\"account_number\":\"\",\"sort_code\":\"\",\"telephone\":\"\",\"email\":\"\",\"address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"$key\":null},\"$key\":27},\"account_type\":{\"id\":1,\"$key\":1},\"ledger_account\":{\"id\":479,\"$key\":479},\"balance\":\"0.0\",\"$key\":15},{\"id\":16,\"account_name\":\"Cash in Hand\",\"account_number\":\"\",\"sort_code\":\"\",\"telephone\":\"\",\"email\":\"\",\"address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"$key\":null},\"$key\":28},\"account_type\":{\"id\":5,\"$key\":5},\"ledger_account\":{\"id\":480,\"$key\":480},\"balance\":\"0.0\",\"$key\":16}]}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 15:47:25 GMT"}],"recorded_with":"VCR 2.9.3"}