{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/ledger_accounts/7686","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["d173e55f52f91b951d9ccb2bbebcc124"], "X-Signature":["GW5iI+Fjnp+c7b/6qKWvQGrzumY="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"48ab5784e043cfce44d4c1bde3fc0fd7\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":7686,\"included_in_chart\":true,\"ledger_name\":\"Office equipment and IT - Cost\",\"name\":\"IT equipment cost\",\"nominal_code\":30,\"last_updated\":\"2014-12-31T10:03:43+00:00\",\"tax_code\":{\"id\":1,\"name\":\"STANDARD\",\"$key\":1},\"category\":{\"id\":7,\"name\":\"Fixed Assets\",\"$key\":7},\"category_group\":{\"id\":7,\"name\":\"Asset\",\"$key\":7},\"is_bank_account\":false,\"coa_account\":{\"id\":9,\"included_in_chart\":true,\"ledger_name\":\"Office equipment and IT - Cost\",\"display_name\":\"IT equipment cost\",\"nominal_code\":30,\"control_name\":null,\"last_updated\":\"2010-06-29T14:52:41+01:00\",\"category\":{\"id\":7,\"name\":\"Fixed Assets\",\"$key\":7},\"category_group\":{\"id\":7,\"name\":\"Asset\",\"$key\":7},\"$key\":9},\"$key\":7686}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 11:49:17 GMT"}],"recorded_with":"VCR 2.9.3"}