{"http_interactions":[{"request":{"method":"delete","uri":"https://api.sageone.com/accounts/v1/expenditures/2938","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["bf514309168d2dcdda521478998bc4df"], "X-Signature":["gLuQC2gL33nbBBoeHkR5H55mBwI="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"dca2ed96598c7256eea692dc90a82137\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":2938,\"date\":\"31/12/2014\",\"invoice_date\":\"31/12/2014\",\"amount\":\"58.0\",\"tax_amount\":\"2.9\",\"gross_amount\":\"60.9\",\"tax_percentage_rate\":\"5.0\",\"tax_code\":{\"id\":2,\"$key\":2},\"tax_scheme_period_id\":117,\"reference\":\"Foo\",\"contact\":{\"$key\":null},\"source\":{\"id\":7696,\"$key\":7696},\"destination\":{\"id\":7718,\"$key\":7718},\"payment_method\":{\"id\":1,\"$key\":1},\"voided\":true,\"lock_version\":1,\"$key\":2938}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 11:32:57 GMT"}],"recorded_with":"VCR 2.9.3"}