{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/contact_types?$itemsPerPage=2","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["bc0fb8158f9b20bf8e8731b808e7a11c"], "X-Signature":["AmZrJPupn7RFXGg2NO+4t/VFG0A="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"ff9319d5756601525044c306ab0caf16\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":6,\"$startIndex\":0,\"$itemsPerPage\":6,\"$resources\":[{\"id\":1,\"name\":\"Customer\",\"$key\":1},{\"id\":2,\"name\":\"Supplier\",\"$key\":2},{\"id\":3,\"name\":\"Bank\",\"$key\":3},{\"id\":4,\"name\":\"Accounts\",\"$key\":4},{\"id\":5,\"name\":\"Sales\",\"$key\":5},{\"id\":6,\"name\":\"Purchasing\",\"$key\":6}]}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 15:51:05 GMT"}],"recorded_with":"VCR 2.9.3"}