{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/contact_types","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["2b664d68b8f0a1f50529cfdba529e0e8"], "X-Signature":["7HwGIpyDYwkzEdA+ryDYQ4waAgU="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"b0da8e7e7f234e99643dc623e053466c\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":6,\"$startIndex\":0,\"$itemsPerPage\":20,\"$resources\":[{\"id\":1,\"name\":\"Customer\",\"$key\":1},{\"id\":2,\"name\":\"Supplier\",\"$key\":2},{\"id\":3,\"name\":\"Bank\",\"$key\":3},{\"id\":4,\"name\":\"Accounts\",\"$key\":4},{\"id\":5,\"name\":\"Sales\",\"$key\":5},{\"id\":6,\"name\":\"Purchasing\",\"$key\":6}]}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 15:51:05 GMT"}],"recorded_with":"VCR 2.9.3"}