{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/period_types?$itemsPerPage=2","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["65784edef271eacde72b074aa48fb3e2"], "X-Signature":["nVJ+vvbJvYsPYzbu1yXms69Jomg="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"86a2c77b9d246be5914851bc2811a136\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":7,\"$startIndex\":0,\"$itemsPerPage\":7,\"$resources\":[{\"id\":1,\"name\":\"Annually\",\"$key\":1},{\"id\":2,\"name\":\"Daily\",\"$key\":2},{\"id\":3,\"name\":\"Hourly\",\"$key\":3},{\"id\":4,\"name\":\"Monthly\",\"$key\":4},{\"id\":5,\"name\":\"Quarterly\",\"$key\":5},{\"id\":6,\"name\":\"Weekly\",\"$key\":6},{\"id\":7,\"name\":\"Fixed Rate\",\"$key\":7}]}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:19:20 GMT"}],"recorded_with":"VCR 2.9.3"}