{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/purchase_invoices/1049","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["896626be3c741df0d8c0685f68b5227a"], "X-Signature":["IwJ+rwFXtJMkkoAQl8tihGEsEws="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"7a05e119506592e6ce7ccba2415379be\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":1049,\"status\":{\"id\":1,\"$key\":1},\"due_date\":\"15/01/2015\",\"date\":\"31/12/2014\",\"void_reason\":null,\"outstanding_amount\":\"59.95\",\"total_net_amount\":\"59.95\",\"total_tax_amount\":\"0.0\",\"tax_scheme_period_id\":117,\"contact\":{\"id\":582,\"$key\":582},\"contact_name\":\"Bar\",\"main_address\":null,\"delivery_address\":null,\"delivery_address_same_as_main\":false,\"reference\":\"Foo\",\"notes\":null,\"terms_and_conditions\":null,\"lock_version\":0,\"line_items\":[{\"id\":181,\"description\":\"A1\",\"quantity\":\"1.0\",\"unit_price\":\"10.0\",\"net_amount\":\"10.0\",\"tax_amount\":\"0.0\",\"tax_code\":{\"id\":1,\"$key\":1},\"tax_rate_percentage\":\"0.0\",\"unit_price_includes_tax\":false,\"ledger_account\":{\"id\":7718,\"$key\":7718},\"product_code\":null,\"product\":{\"$key\":null},\"service\":{\"$key\":null},\"lock_version\":0,\"$key\":181},{\"id\":182,\"description\":\"B1\",\"quantity\":\"5.0\",\"unit_price\":\"9.99\",\"net_amount\":\"49.95\",\"tax_amount\":\"0.0\",\"tax_code\":{\"id\":1,\"$key\":1},\"tax_rate_percentage\":\"0.0\",\"unit_price_includes_tax\":false,\"ledger_account\":{\"id\":7718,\"$key\":7718},\"product_code\":null,\"product\":{\"$key\":null},\"service\":{\"$key\":null},\"lock_version\":0,\"$key\":182}],\"$key\":1049}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 14:55:03 GMT"}],"recorded_with":"VCR 2.9.3"}