{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/coa_templates","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer bc8b0400db3b8f625a47518e4d4e6b37afd36bca"], "X-Nonce":["a77caa44749739fde7ab54be4850841b"], "X-Signature":["bWqJ8BtfKOVT0QWBmgdlDow2ekU="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"fe6d6fea553c1a3b5ea57151c7eb5c04\""], "Status":["200 OK"], "X-Server":["uk-production-extra-r3-27 (production)","uk-production-modproxy-140"]},"body":{"encoding":"UTF-8","string":"[{\"id\":2,\"sage_one_accounts_product\":\"Accounting\",\"name\":\"Small Business\",\"country\":{\"id\":218,\"name\":\"United Kingdom\",\"$key\":218},\"coa_accounts\":[{\"id\":1,\"included_in_chart\":true,\"ledger_name\":\"Assets - Cost\",\"display_name\":\"Assets - Cost\",\"nominal_code\":1,\"control_name\":null,\"last_updated\":\"2013-07-03T10:38:12Z\",\"category\":{\"id\":7,\"name\":\"Fixed Assets\",\"$key\":7},\"category_group\":{\"id\":3,\"name\":\"Asset\",\"$key\":3},\"$key\":1},{\"id\":9,\"included_in_chart\":true,\"ledger_name\":\"Office equipment and IT - Cost\",\"display_name\":\"Office equipment and IT - Cost\",\"nominal_code\":30,\"control_name\":null,\"last_updated\":\"2013-07-03T10:38:12Z\",\"category\":{\"id\":7,\"name\":\"Fixed Assets\",\"$key\":7},\"category_group\":{\"id\":3,\"name\":\"Asset\",\"$key\":3},\"$key\":9},{\"id\":10,\"included_in_chart\":true,\"ledger_name\":\"Office equipment and IT - Accumula[...]
