{"http_interactions":[{"request":{"method":"put","uri":"https://api.sageone.com/accounts/v1/services/4","body":{"encoding":"UTF-8","string":"service%5Bdescription%5D=Bar"},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["bce6dafbb815e7d51caf79fc36a71130"], "X-Signature":["l9+dVNBYpDGOoUhceB5Tvh9Sw2o="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"6528a5a542f568de8817172bebe95d5b\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":4,\"description\":\"Bar\",\"extra_info\":\"\",\"period_rate_price\":\"0.0\",\"rate_includes_tax\":0,\"period_type\":{\"id\":1,\"$key\":1},\"ledger_account\":{\"id\":494,\"$key\":494},\"tax_code\":{\"id\":1,\"$key\":1},\"lock_version\":2,\"$key\":4}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:37:02 GMT"}],"recorded_with":"VCR 2.9.3"}