{"http_interactions":[{"request":{"method":"post","uri":"https://api.sageone.com/accounts/v1/contacts","body":{"encoding":"UTF-8","string":"contact%5Bcontact_type_id%5D=1"},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["98ffa7592fb8733fa3d68060550a8e25"], "X-Signature":["mpRv/rxEe//nQQleqaNjFna6B+g="]}},"response":{"status":{"code":422,"message":"Unprocessable Entity"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Status":["422"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$diagnoses\":[{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"This field is required.\",\"$source\":\"company\"}]}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 15:06:45 GMT"}],"recorded_with":"VCR 2.9.3"}
