{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/income_types/494","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["74c9b134db20bac4da5555ab8ea6f319"], "X-Signature":["bxn0QEGlxCe0l6wArLlkeVyNgy0="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"5311179eae2be7a1034cb3a2858f2edb\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":494,\"name\":\"Sales Type A\",\"nominal_code\":4000,\"tax_code\":{\"id\":1,\"name\":\"Standard\",\"$key\":1},\"$key\":494}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:10:36 GMT"}],"recorded_with":"VCR 2.9.3"}