{"http_interactions":[{"request":{"method":"put","uri":"https://api.sageone.com/accounts/v1/sales_invoices/1043","body":{"encoding":"UTF-8","string":"sales_invoice%5Breference%5D=Bar"},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["3da846e0aac9758f122066c8ff2c1302"], "X-Signature":["KUwK/hZuM9A70DgjxQX7ietJASE="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"16bbd781cba6ed211960f3b1787fbeec\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":1043,\"invoice_number\":\"SI-11\",\"status\":{\"id\":1,\"$key\":1},\"due_date\":\"30/01/2015\",\"date\":\"31/12/2014\",\"void_reason\":null,\"outstanding_amount\":\"59.95\",\"total_net_amount\":\"59.95\",\"total_tax_amount\":\"0.0\",\"tax_scheme_period_id\":117,\"carriage\":\"0.0\",\"carriage_tax_code\":{\"id\":1,\"$key\":1},\"carriage_tax_rate_percentage\":\"0.0\",\"contact\":{\"id\":580,\"$key\":580},\"contact_name\":\"Lorem\",\"main_address\":\"Main Address\",\"delivery_address\":null,\"delivery_address_same_as_main\":false,\"reference\":\"Bar\",\"notes\":null,\"terms_and_conditions\":null,\"lock_version\":1,\"line_items\":[{\"id\":175,\"description\":\"A1\",\"quantity\":\"1.0\",\"unit_price\":\"10.0\",\"net_amount\":\"10.0\",\"tax_amount\":\"0.0\",\"tax_code\":{\"id\":1,\"$key\":1},\"tax_rate_percentage\":\"0.0\",\"unit_price_includes_tax\":false,\"ledger_account\":{\"id\":7709,\"$key\":7709},\"product_code\":null,\"product\":{\"$key\":null},\"service\":{\"$key\":null},\"lock_version\":0,\"$key\":175},{\"id\":176,\"description\":\"B1\",\"quantity\":\"5.0\",\"unit_price\":\"9.99\",\"net_amount\":\"49.95\",\"tax_amount\":\"0.0\",\"tax_code\":{\"id\":1,\"$key\":1},\"tax_rate_percentage\":\"0.0\",\"unit_price_includes_tax\":false,\"ledger_account\":{\"id\":7709,\"$key\":7709},\"product_code\":null,\"product\":{\"$key\":null},\"service\":{\"$key\":null},\"lock_version\":0,\"$key\":176}],\"$key\":1043}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 14:37:27 GMT"}],"recorded_with":"VCR 2.9.3"}