{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/sales_invoices?$itemsPerPage=2","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["dc0a7635d749f4e98e4be0f76a9eabde"], "X-Signature":["LllomEP+NJh2NR0M2YWq9e3ltUM="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"2ccbe32c23f4286cafe97fd92c1c3d2c\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":2,\"$startIndex\":0,\"$itemsPerPage\":2,\"$resources\":[{\"id\":1034,\"invoice_number\":\"SI-2\",\"status\":{\"id\":1,\"$key\":1},\"due_date\":\"30/01/2015\",\"date\":\"31/12/2014\",\"void_reason\":null,\"outstanding_amount\":\"21.46\",\"total_net_amount\":\"17.88\",\"total_tax_amount\":\"3.58\",\"tax_scheme_period_id\":117,\"carriage\":\"0.0\",\"carriage_tax_code\":{\"id\":1,\"$key\":1},\"carriage_tax_rate_percentage\":\"20.0\",\"contact\":{\"id\":580,\"$key\":580},\"contact_name\":\"Lorem\",\"main_address\":\"Main Address\",\"delivery_address\":\"\",\"delivery_address_same_as_main\":false,\"reference\":\"\",\"notes\":\"\",\"terms_and_conditions\":\"\",\"lock_version\":0,\"line_items\":[{\"id\":158,\"description\":\"Baz\",\"quantity\":\"2.0\",\"unit_price\":\"3.99\",\"net_amount\":\"7.98\",\"tax_amount\":\"1.6\",\"tax_code\":{\"id\":1,\"$key\":1},\"tax_rate_percentage\":\"20.0\",\"unit_price_includes_tax\":false,\"ledger_account\":{\"id\":7710,\"$key\":7710},\"product_code\":\"B2\",\"product\":{\"$key\":null},\"service\":{\"$key\":null},\"lock_version\":0,\"$key\":158},{\"id\":159,\"description\":\"Qux\",\"quantity\":\"10.0\",\"unit_price\":\"0.99\",\"net_amount\":\"9.9\",\"tax_amount\":\"1.98\",\"tax_code\":{\"id\":1,\"$key\":1},\"tax_rate_percentage\":\"20.0\",\"unit_price_includes_tax\":false,\"ledger_account\":{\"id\":7710,\"$key\":7710},\"product_code\":\"Q1\",\"product\":{\"$key\":null},\"service\":{\"$key\":null},\"lock_version\":0,\"$key\":159}],\"$key\":1034},{\"id\":1033,\"invoice_number\":\"SI-1\",\"s[...]
