{"http_interactions":[{"request":{"method":"post","uri":"https://api.sageone.com/accounts/v1/journals","body":{"encoding":"UTF-8","string":"journal%5Bfoo%5D=bar"},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer 4c95aff8302a8b020e2343556d31669ef199a4d9"], "X-Nonce":["fa443cd43cc8e118be22cabea4e09bba"], "X-Signature":["izH2vz5+kw/URLsLuyhdbKDKEuM="]}},"response":{"status":{"code":422,"message":"Unprocessable Entity"},"headers":{"Content-Type":["text/html; charset=UTF-8"], "Status":["422 Unprocessable Entity"], "X-Server":["uk-production-extra-r3-26 (production)","uk-production-modproxy-141"]},"body":{"encoding":"UTF-8","string":"{\"$diagnoses\":[{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"invalid_date\",\"$source\":\"base\"}]}"},"http_version":null},"recorded_at":"Thu, 17 Dec 2015 09:51:56 GMT"}],"recorded_with":"VCR 3.0.0"}