{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/products?$itemsPerPage=2","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["8b083d8ea2c4fa37f62c86e90b49dbc1"], "X-Signature":["4VBzMz73TLPr7xoEkAq6pZlwaCI="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"b1c34d8991c909c5ed79fc179f2f11b9\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":5,\"$startIndex\":0,\"$itemsPerPage\":2,\"$resources\":[{\"id\":7,\"description\":\"Foo\",\"product_code\":\"\",\"extra_info\":\"\",\"sales_price\":\"0.0\",\"sales_price_includes_tax\":0,\"last_cost_price\":\"0.0\",\"ledger_account\":{\"id\":494,\"$key\":494},\"tax_code\":{\"id\":1,\"$key\":1},\"lock_version\":0,\"$key\":7},{\"id\":8,\"description\":\"Foo\",\"product_code\":\"\",\"extra_info\":\"\",\"sales_price\":\"0.0\",\"sales_price_includes_tax\":0,\"last_cost_price\":\"0.0\",\"ledger_account\":{\"id\":494,\"$key\":494},\"tax_code\":{\"id\":1,\"$key\":1},\"lock_version\":0,\"$key\":8}]}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:33:05 GMT"}],"recorded_with":"VCR 2.9.3"}