{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/incomes/2939","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["8bfe145d5d5d8ed8b5d7b1ab54843d4e"], "X-Signature":["ISVeXX7Y499OcqwWSyo7sZk5kOA="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"5b9298cff802028c3e82126b696add5b\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":2939,\"date\":\"31/12/2014\",\"invoice_date\":\"31/12/2014\",\"amount\":\"100.0\",\"tax_amount\":\"20.0\",\"gross_amount\":\"120.0\",\"tax_percentage_rate\":\"20.0\",\"tax_code\":{\"id\":1,\"$key\":1},\"tax_scheme_period_id\":117,\"reference\":\"I12345\",\"contact\":{\"$key\":null},\"source\":{\"id\":7709,\"$key\":7709},\"destination\":{\"id\":7696,\"$key\":7696},\"payment_method\":{\"id\":2,\"$key\":2},\"voided\":false,\"lock_version\":0,\"$key\":2939}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 11:40:28 GMT"}],"recorded_with":"VCR 2.9.3"}