{"http_interactions":[{"request":{"method":"post","uri":"https://api.sageone.com/accounts/v1/expenditures","body":{"encoding":"UTF-8","string":"expenditure%5Bamount%5D=58.0\u0026expenditure%5Bdate%5D=31%2F12%2F2014\u0026expenditure%5Bdestination_id%5D=7718\u0026expenditure%5Bpayment_method_id%5D=1\u0026expenditure%5Breference%5D=Foo\u0026expenditure%5Bsource_id%5D=7696\u0026expenditure%5Btax_amount%5D=2.9\u0026expenditure%5Btax_code_id%5D=2\u0026expenditure%5Btax_percentage_rate%5D=5.0"},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["bdfbc556535409e3072cc774f24819ea"], "X-Signature":["7Eh5BfB3DR0bl6UNchYdlvFigvs="]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"5d1e7ca3616cb00c1c7c021fca024485\""], "Status":["201"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":2937,\"date\":\"31/12/2014\",\"invoice_date\":\"31/12/2014\",\"amount\":\"58.0\",\"tax_amount\":\"2.9\",\"gross_amount\":\"60.9\",\"tax_percentage_rate\":\"5.0\",\"tax_code\":{\"id\":2,\"$key\":2},\"tax_scheme_period_id\":117,\"reference\":\"Foo\",\"contact\":{\"$key\":null},\"source\":{\"id\":7696,\"$key\":7696},\"destination\":{\"id\":7718,\"$key\":7718},\"payment_method\":{\"id\":1,\"$key\":1},\"voided\":false,\"lock_version\":0,\"$key\":2937}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 11:29:39 GMT"}],"recorded_with":"VCR 2.9.3"}