{"http_interactions":[{"request":{"method":"delete","uri":"https://api.sageone.com/accounts/v1/sales_invoices/1044","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["533b9ac1b8fabe5fff68bf233721e8fb"], "X-Signature":["scMiVJYzLeLd2uPQW5dxUzvwsN4="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"bc2c03885c4d3fa66305fd0ce29e9b36\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"sales_invoice\":{\"artefact_number\":12,\"artefact_number_prefix\":\"SI-\",\"business_id\":130,\"carriage\":\"0.0\",\"carriage_tax_code_id\":1,\"carriage_tax_rate_percentage\":\"0.0\",\"contact_id\":580,\"contact_name\":\"Lorem\",\"created_at\":\"2014-12-31T14:46:47+00:00\",\"date\":\"2014-12-31\",\"delivery_address\":null,\"delivery_address_same_as_main\":false,\"due_date\":\"2015-01-15\",\"email_to\":null,\"id\":1044,\"is_opening_balance\":false,\"lock_version\":1,\"main_address\":\"Main Address\",\"notes\":null,\"outstanding_amount\":\"0.0\",\"pdf_file_id\":null,\"reference\":\"Foo\",\"status_id\":4,\"tax_scheme_period_id\":117,\"terms_and_conditions\":null,\"total_net_amount\":\"59.95\",\"total_tax_amount\":\"0.0\",\"updated_at\":\"2014-12-31T14:46:58+00:00\",\"void_reason\":\"no void reason supplied\",\"$key\":1044},\"$key\":1044}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 14:46:59 GMT"}],"recorded_with":"VCR 2.9.3"}