{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/coa_structure","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer bc8b0400db3b8f625a47518e4d4e6b37afd36bca"], "X-Nonce":["5a9eb8319f8fc42b3a8e8f8258ee64b8"], "X-Signature":["hDQ5Wu1/1szo8BmCRrGhsjCSBpA="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"3a7554be7b59701c33259485c4debef3\""], "Status":["200 OK"], "X-Server":["uk-production-extra-r3-24 (production)","uk-production-modproxy-144"]},"body":{"encoding":"UTF-8","string":"{\"last_updated\":\"2015-12-17T08:14:34Z\",\"template\":{\"id\":2,\"sage_one_accounts_product\":\"Accounting\",\"name\":\"Small Business\",\"country\":{\"id\":218,\"name\":\"United Kingdom\",\"$key\":218},\"$key\":2},\"ledger_accounts\":[{\"id\":5167016,\"included_in_chart\":true,\"ledger_name\":\"Current\",\"name\":\"Current\",\"nominal_code\":1200,\"last_updated\":\"2015-12-05T14:12:46Z\",\"tax_code\":{\"$key\":null},\"category\":{\"id\":9,\"name\":\"Bank\",\"$key\":9},\"category_group\":{\"id\":3,\"name\":\"Asset\",\"$key\":3},\"$key\":5167016},{\"id\":5167017,\"included_in_chart\":true,\"ledger_name\":\"Cash in Hand\",\"name\":\"Cash in Hand\",\"nominal_code\":1210,\"last_updated\":\"2015-12-05T14:12:46Z\",\"tax_code\":{\"$key\":null},\"category\":{\"id\":9,\"name\":\"Bank\",\"$key\":9},\"category_group\":{\"id\":3,\"name\":\"Asset\",\"$key\":3},\"$key\":5167017},{\"id\":5167018,\"included_in_chart\":true,\"ledger_name\":\"Assets - Cost\",\"name\":\"Assets - Cost\",\"nominal_c[...]
