{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/income_methods/2","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["4262e1b8247720f9e6516a19d3fd92af"], "X-Signature":["8CtCwwNiX/Ylx7N8ZbnxZsrJSaw="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"b86d52e86bbc63ba97699f0abceac51a\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":2,\"name\":\"Bank Receipt\",\"code\":\"BR\",\"$key\":2}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 10:13:47 GMT"}],"recorded_with":"VCR 2.9.3"}