{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/financial_settings","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer bc8b0400db3b8f625a47518e4d4e6b37afd36bca"], "X-Nonce":["7133d9c49e730aee6967f99c137ee17b"], "X-Signature":["5IjzvBkWDpDN8LV9QR2vDA5SVuA="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"e6dcfff2a2e0a71a2117e00147a576af\""], "Status":["200 OK"], "X-Server":["uk-production-extra-r3-27 (production)","uk-production-modproxy-144"]},"body":{"encoding":"UTF-8","string":"{\"last_updated\":\"2015-12-17T09:15:43Z\",\"year_end_date\":\"2016-11-03\",\"accounts_start_date\":null,\"year_end_lock_down\":null,\"tax_scheme\":{\"id\":3,\"name\":\"Not Registered\",\"$key\":3},\"tax_number\":\"\",\"tax_submission_frequency_type\":{\"$key\":null},\"tax_rate\":null,\"$key\":84093}"},"http_version":null},"recorded_at":"Thu, 17 Dec 2015 09:16:12 GMT"}],"recorded_with":"VCR 3.0.0"}