{"http_interactions":[{"request":{"method":"post","uri":"https://api.sageone.com/accounts/v1/ledger_accounts","body":{"encoding":"UTF-8","string":"ledger_account%5Bcategory_id%5D=1\u0026ledger_account%5Bdisplay_name%5D=My+new+ledger+account\u0026ledger_account%5Bincluded_in_chart%5D=true\u0026ledger_account%5Bledger_name%5D=My+new+ledger+account\u0026ledger_account%5Bnominal_code%5D=1237"},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer e147aa34aa43baf1b303dfe73c314757d054ff04"], "X-Nonce":["a0ca373ef0c720d90d1fd2b401553135"], "X-Signature":["nFSNDxOO8du5S2SxhFACt0JxBHI="]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"c9ce9dd70b5caec6d22f1eac03f7a68c\""], "Status":["201 Created"], "X-Server":["uk-production-extra-r3-26 (production)","uk-production-modproxy-144"]},"body":{"encoding":"UTF-8","string":"{\"id\":5322380,\"included_in_chart\":true,\"ledger_name\":\"My new ledger account\",\"name\":\"My new ledger account\",\"nominal_code\":1237,\"last_updated\":\"2015-12-17T08:14:34Z\",\"tax_code\":{\"$key\":null},\"category\":{\"id\":1,\"name\":\"Sales\",\"$key\":1},\"category_group\":{\"id\":1,\"name\":\"Income\",\"$key\":1},\"is_bank_account\":false,\"coa_account\":{\"$key\":null},\"$key\":5322380}"},"http_version":null},"recorded_at":"Thu, 17 Dec 2015 08:14:34 GMT"}],"recorded_with":"VCR 3.0.0"}