{"http_interactions":[{"request":{"method":"put","uri":"https://api.sageone.com/accounts/v1/financial_settings","body":{"encoding":"UTF-8","string":"financial_settings%5Byear_end_date%5D=2016-12-31"},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer bc8b0400db3b8f625a47518e4d4e6b37afd36bca"], "X-Nonce":["b3912824aa04c6321ff1152c28af54e0"], "X-Signature":["3Lllncd9GbvKmux+ZzVQgJQDh+I="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"38486469fa1670310264084e258841dd\""], "Status":["200 OK"], "X-Server":["uk-production-extra-r3-25 (production)","uk-production-modproxy-141"]},"body":{"encoding":"UTF-8","string":"{\"last_updated\":\"2015-12-17T09:16:12Z\",\"year_end_date\":\"2016-12-31\",\"accounts_start_date\":null,\"year_end_lock_down\":null,\"tax_scheme\":{\"id\":3,\"name\":\"Not Registered\",\"$key\":3},\"tax_number\":\"\",\"tax_submission_frequency_type\":{\"$key\":null},\"tax_rate\":null,\"$key\":84093}"},"http_version":null},"recorded_at":"Thu, 17 Dec 2015 09:16:12 GMT"}],"recorded_with":"VCR 3.0.0"}