{"http_interactions":[{"request":{"method":"put","uri":"https://api.sageone.com/accounts/v1/products/7","body":{"encoding":"UTF-8","string":"product%5Bproduct_code%5D=Bar"},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["a252bac7dc3d38f6ea44cc1972c556aa"], "X-Signature":["Biio+TD/BtQiW/OkSgevCb1MSSU="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"4e496db49e3514594d7291a8bf07e78a\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":7,\"description\":\"Foo\",\"product_code\":\"Bar\",\"extra_info\":\"\",\"sales_price\":\"0.0\",\"sales_price_includes_tax\":0,\"last_cost_price\":\"0.0\",\"ledger_account\":{\"id\":494,\"$key\":494},\"tax_code\":{\"id\":1,\"$key\":1},\"lock_version\":1,\"$key\":7}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:33:07 GMT"}],"recorded_with":"VCR 2.9.3"}