{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/ledger_accounts","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["cf5e12d79cdefb350eedb7c7b168b6e0"], "X-Signature":["r03nIAV/n+GKA1hhzkDt9P1nGCg="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"686b4da33dbd1851d2dd3b424e4f7399\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":68,\"$startIndex\":0,\"$itemsPerPage\":68,\"$resources\":[{\"id\":479,\"name\":\"Current\",\"nominal_code\":1200,\"tax_code\":{\"$key\":null},\"$key\":479},{\"id\":480,\"name\":\"Cash in Hand\",\"nominal_code\":1210,\"tax_code\":{\"$key\":null},\"$key\":480},{\"id\":481,\"name\":\"Assets - Cost\",\"nominal_code\":1,\"tax_code\":{\"id\":1,\"name\":\"Standard\",\"$key\":1},\"$key\":481},{\"id\":482,\"name\":\"Office equipment and IT - Cost\",\"nominal_code\":30,\"tax_code\":{\"id\":1,\"name\":\"Standard\",\"$key\":1},\"$key\":482},{\"id\":483,\"name\":\"Office equipment and IT - Accumulated Depreciation\",\"nominal_code\[...]
