{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/income_types","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["1418a32dddd0f8815c01dc37a86d3edc"], "X-Signature":["HWgSOBjUOdc88xEwkZjtSXknKCc="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"5a590d6c559e44283e30824a0f6d10cd\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":5,\"$startIndex\":0,\"$itemsPerPage\":20,\"$resources\":[{\"id\":494,\"name\":\"Sales Type A\",\"nominal_code\":4000,\"tax_code\":{\"id\":1,\"name\":\"Standard\",\"$key\":1},\"$key\":494},{\"id\":495,\"name\":\"Sale of Assets\",\"nominal_code\":4200,\"tax_code\":{\"id\":1,\"name\":\"Standard\",\"$key\":1},\"$key\":495},{\"id\":496,\"name\":\"Late Payment Charges\",\"nominal_code\":4400,\"tax_code\":{\"id\":5,\"name\":\"No VAT\",\"$key\":5},\"$key\":496},{\"id\":497,\"name\":\"Carriage on Sales\",\"nominal_code\":4905,\"tax_code\":{\"id\":1,\"name\":\"Standard\",\"$key\":1},\"$key\":497},{\"id\":526,\"name\":\"Other income\",\"nominal_code\":4900,\"tax_code\":{\"id\":1,\"name\":\"Standard\",\"$key\":1},\"$key\":526}]}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 16:10:36 GMT"}],"recorded_with":"VCR 2.9.3"}