{"http_interactions":[{"request":{"method":"post","uri":"https://api.sageone.com/accounts/v1/services","body":{"encoding":"UTF-8","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["b01dc375a8cac1384a5cd3a2608501e2"], "X-Signature":["opyxCm1e21fqpgtgvEYOe0/Da6Y="]}},"response":{"status":{"code":422,"message":"Unprocessable Entity"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Status":["422"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$diagnoses\":[{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"/ Type of Sale is invalid\",\"$source\":\"ledger_account\"},{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"must be a valid type of income\",\"$source\":\"ledger_account\"},{\"$severity\":\"error\",\"$dataCode\":\"ValidationError\",\"$message\":\"blank\",\"$source\":\"description\"}]}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 10:16:52 GMT"}],"recorded_with":"VCR 2.9.3"}