{"http_interactions":[{"request":{"method":"get","uri":"https://api.sageone.com/accounts/v1/contacts?$itemsPerPage=2","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["dd218ba0175cf4125e95073b670d13af"], "X-Signature":["P7ssIrtdhQimRKVmJZ3EqXCo2LE="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"114fb2afed1838b672560dd6f1732700\""], "Status":["200"], "X-Server":["ip-10-91-175-51 (uat)"]},"body":{"encoding":"UTF-8","string":"{\"$totalResults\":13,\"$startIndex\":0,\"$itemsPerPage\":2,\"$resources\":[{\"id\":51,\"company_name\":\"CUST0-GB\",\"name\":\"Bar\",\"name_and_company_name\":\"CUST0-GB (Bar)\",\"contact_type\":{\"id\":1,\"name\":\"CUSTOMER\",\"scope\":1},\"email\":\"\",\"telephone\":\"\",\"mobile\":\"\",\"notes\":\"\",\"tax_reference\":\"\",\"main_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"id\":218,\"$key\":218},\"$key\":31},\"delivery_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"$key\":null},\"$key\":197},\"lock_version\":3,\"$key\":51},{\"id\":53,\"company_name\":\"CUST1-IE\",\"name\":\"Main Contact\",\"name_and_company_name\":\"CUST1-IE (Main Contact)\",\"contact_type\":{\"id\":1,\"name\":\"CUSTOMER\",\"scope\":1},\"email\":\"\",\"telephone\":\"\",\"mobile\":\"\",\"notes\":\"\",\"tax_reference\":\"\",\"main_address\":{\"street_one\":\"\",\"street_two\":\"\",\"town\":\"\",\"county\":\"\",\"postcode\":\"\",\"country\":{\"id\":101,\"$key\":101},\"$key\":32},\"delivery_address\":{\"$key\":null},\"lock_version\":0,\"$key\":53}]}"},"http_version":null},"recorded_at":"Mon, 29 Sep 2014 15:26:07 GMT"}],"recorded_with":"VCR 2.9.3"}