{"http_interactions":[{"request":{"method":"put","uri":"https://api.sageone.com/accounts/v1/incomes/2939","body":{"encoding":"UTF-8","string":"income%5Breference%5D=Bar"},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":["Bearer \u003CACCESS_TOKEN\u003E"], "X-Nonce":["0d5b3e2febe7e59be8eedafa8ff631ee"], "X-Signature":["Hz6TJvB49DIzCwobUxnD+y8gNvQ="]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;vnd.sage=sdata"], "Etag":["\"c203eef1a165a91d8660a3d03540951d\""], "Status":["200"], "X-Server":["accounts.sageone.com (uat)"]},"body":{"encoding":"UTF-8","string":"{\"id\":2939,\"date\":\"31/12/2014\",\"invoice_date\":\"31/12/2014\",\"amount\":\"100.0\",\"tax_amount\":\"20.0\",\"gross_amount\":\"120.0\",\"tax_percentage_rate\":\"20.0\",\"tax_code\":{\"id\":1,\"$key\":1},\"tax_scheme_period_id\":117,\"reference\":\"Bar\",\"contact\":{\"$key\":null},\"source\":{\"id\":7709,\"$key\":7709},\"destination\":{\"id\":7696,\"$key\":7696},\"payment_method\":{\"id\":2,\"$key\":2},\"voided\":false,\"lock_version\":1,\"$key\":2939}"},"http_version":null},"recorded_at":"Wed, 31 Dec 2014 11:40:28 GMT"}],"recorded_with":"VCR 2.9.3"}